pkgbase = kanata-bin
	pkgdesc = Improve keyboard comfort and usability with advanced customization
	pkgver = 1.8.0
	pkgrel = 1
	url = https://github.com/jtroo/kanata/
	arch = x86_64
	license = LGPL-3.0-only
	depends = gcc-libs
	depends = glibc
	provides = kanata
	source = kanata-1.8.0::https://github.com/jtroo/kanata/releases/download/v1.8.0/kanata
	source = kanata_cmd_allowed-1.8.0::https://github.com/jtroo/kanata/releases/download/v1.8.0/kanata_cmd_allowed
	source = https://github.com/jtroo/kanata/raw/main/LICENSE
	sha256sums = d3644a07164be46c3d507cffed5e3b2838dc08dcdd9b2e62f5906ce8b5ea0578
	sha256sums = 1466e42d1c6e3e164e6bb6899167c03e424a2d5aea8ff136e114591d0569129c
	sha256sums = a5681bf9b05db14d86776930017c647ad9e6e56ff6bbcfdf21e5848288dfaf1b

pkgname = kanata-bin
